.authContainer{
    max-width:400px;
    margin: 0 auto;
    margin-top:5rem;
}

.authForm{
    margin-top:2rem;
}

.authFormUpper{
    margin-bottom:1rem;
}

.authLogo{
    height:100px;
    width:400px;
}